@import '../common/variables';

.input-group {
  margin-bottom: 25px;
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: $inputGroup-color;
    text-transform: uppercase;
  }
  input,textarea {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid $inputGroup-border-color;
    font-size: 16px;
    color: $inputGroup-input-color;
    font-family: inherit;
    &[disabled]{
      background-color: $inputGroup-input-disabled-bg;
      color: $inputGroup-input-disabled-color;
      cursor: not-allowed;
    }
  }
  textarea {
    height: $inputGroup-textarea-height;
    resize: vertical;
  }
}