.logo-link {
  line-height: $logo-size;
  color: $logo-color;
  display: block;
  text-decoration: none;
  padding: $logo-padding;
  margin: 0 20px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  &:hover,&:focus {
    color: $logo-color;
  }

  .logo-wrapper {
    width: $logo-size;
    height: $logo-size;
    margin-right: 10px;
    border-radius: 50%;
    background: #ffffff;
    display: inline-block;
    .logo-img {
      $differ: 15px;
      margin: $differ / 2;
      width: $logo-size - $differ;
      height: $logo-size - $differ;
      vertical-align: middle;
      image-rendering: -webkit-optimize-contrast;
    }
  }
}