.icons-container {
  text-align: center;
  padding: 45px 0 30px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin: 15px 0;
  .icon {
    margin-bottom: 15px;
    font-size: $icons-size;
  }
}