.content {
  padding: $content-padding;
  min-height: calc(100% - 101px);
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity $content-transition-speed;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}