.content-footer {
  @include clearfix;
  min-height: 50px;
  line-height: 50px;
  font-size: 14px;
  padding: 0 15px;
  background: $content-top-bottom-bg;
  border-top: 1px solid $content-cutOff-color;  

  .content-footer-link {
    color: $contentFooter-link-color;
    text-decoration: none;
  }
  
  .copyright {
    float: right;
    color: $contentFooter-copyright-color;
  }
}