.sidebar {
  width: $sidebar-width;
  position: relative;
  background: $sidebar-bg;
  
  &::after {
    @include multiply;
    opacity: .23;
    background: $sidebar-bg-image no-repeat center center;
    background-size: cover;
  }
}

.sidebar-container {
  position: relative;
  z-index: 20;

  .mobile-dropdown {
    color: white;
    display: block;
    i {
      margin: 0 13px;
      font-size: 28px;
    }
    .mobile-list {
      border-bottom: 1px solid hsla(0,0%,100%,.2);
      ul {
        margin: 0;
        padding: 0 0 0 38px;
      }
      li{
        color: #fff;
        margin: 5px 15px;
        opacity: .86;
        border-radius: 4px;
        display: block;
        padding: 10px 15px;
      }
    }
  
    .mobile-title {
      padding: $sidebarLink-padding;
      display: block;
    }
  }


  .nav {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;

    li {
      i {
        font-size: 28px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
      }

      a {
        display: block;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: $sidebarLink-border-ridus;
        margin: $sidebarLink-margin;
        padding: $sidebarLink-padding;
        font-size:  $sidebarLink-fontSize;
        color: $sidebarLink-color;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        a {
          background: $sidebarLink-hover-bg;
        }
      }
    }
    
    .link-active {
      a {
        background: $sidebarLink-active-bg;
      }
    }
  }
}