// TODO Code is no DRY
.sidebar {
  width: $sidebar-width;
  position: relative;
  background: $sidebar-bg;
  height: #{$app-height};
  z-index: 10;
  
  &::after {
    @include multiply;
    opacity: .23;
    background: $sidebar-bg-image no-repeat center center;
    background-size: cover;
  }
}

.sidebar-container {
  position: relative;
  z-index: 20;

  // should modify  
  .mobile-menu {
    display: none;
    padding: 10px 0;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    .title {
      font-size:  $sidebarLink-fontSize;
      color: $sidebarLink-color;
      margin: $sidebarLink-margin;
      padding: $sidebarLink-padding;
      span {
        text-transform: uppercase;
      }
      * {
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .has-icon {
      font-size: 28px;
      margin-right: 15px;
      color: #e2e2e2;
      display: inline-block;
      vertical-align: middle;
    }
    .no-icon {
        // should modify
      padding-left: 28px + 15px;      
    }
    .mobile-dropdown {
      display: block;
      .caret {
        font-size: 12px;
        margin: 0 0 0 3px;
      }
      ul {
        margin: 6px 0 0 0;
        // should modify
        padding-left: 28px + 15px + 10px;
      }
      li{
        color: #fff;
        margin: 5px 15px;
        opacity: .86;
        border-radius: 4px;
        display: block;
        padding: 10px 15px;
        white-space: nowrap;
      }
    }
  }

  .nav {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;

    li {
      i {
        font-size: 28px;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
      }

      a {
        display: block;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: $sidebarLink-border-ridus;
        margin: $sidebarLink-margin;
        padding: $sidebarLink-padding;
        font-size:  $sidebarLink-fontSize;
        color: $sidebarLink-color;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        a {
          background: $sidebarLink-hover-bg;
        }
      }
    }
    
    .link-active {
      a {
        background: $sidebarLink-active-bg;
      }
    }
  }
}