.topNavbar {
  border: 0;
  border-radius: 0;
  user-select: none;
  font-size: $topNavBar-fontSize;
  height: $topNavBar-height;
  line-height: $topNavBar-height - $topNavBar-padding-top-bottom  * 2;
  padding: $topNavBar-padding-top-bottom $topNavBar-padding-left-right;
  background-color: $content-top-bottom-bg;
  border-bottom: 1px solid $content-cutOff-color;

  .topNavbar-band {
    font-size: 20px;
    color: $topNavBar-color;
    &:hover {
      color: $topNavBar-band-hover-color;
    }
  }

  .mobile-menu {
    display: none;
    i {
      font-size: $topNavBar-mobile-menu-size;
      color: $topNavBar-color;
    }
  }

  .topNavbar-nav {
    float: right;
  }

  .topNavbar-link {
    color: $topNavBar-color;
    margin-right: 20px;
    &:hover, &:focus {
      color: $topNavBar-link-active-color;
    }
  }
}