@import '../../mixins/helper';

.userCard {
  &::after{
    @include clearfix;
  }
  .userCard-btn {
    padding: 10px;
    outline: none;
    color: $userProfile-btn-color;
    background: $userProfile-btn-bg;
    border: 1px solid $userProfile-btn-bg;
    border-radius: 3px;
    font-size: 15px;
    line-height: 1.5;
    cursor: pointer;
    float: right;
    &:hover{
      background-color: $userProfile-btn-hover-bg;
    }
  } 
}