.author {
  text-align: center;
  text-transform: none;
  margin-top: -70px;
  img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    border: 5px solid $userPrifle-author-color;
  }
  .description{
    font-size: $userPrifle-author-description-fontSize;
    color: $userPrifle-author-description-color;
  }
}