*, *::before, *::after {
  box-sizing: border-box;
}

@for $i from 1 to 6 {
  h#{$i} {
    font-weight: 300;
    font-size: nth($heading-fontSize, $i);
  }
}

@each $tip in ('success', 'warn', 'error', 'primary', 'muted') {
  .#{$tip} {
    color: map-get($map: $tip-colors, $key: $tip) !important;
  }
}

p {
  font-size: $p-fontSize;
  line-height: $line-height;
  margin: $p-margin;
  font-weight: $p-fontWeight;
}

blockquote {
  padding-left: 15px;
  margin: 0;
  border-left: 2px solid $blockquote-border-color;
  line-height: $line-height;
}

small {
  font-size: $small-fontSize;
  color: $small-color;
  font-weight: 300;
  line-height: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover, &:focus {
    color: $link-active-color;
  }
}