@media only screen and (max-width: 768px){
  .sidebar {
    transform: translateX(#{$app-width});
    position: absolute;
    min-height: #{$app-height};
    z-index: 10;
  }

  #App {
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
    &.move {
      transform: translateX(-#{$sidebar-width});
    }
  }

  .content-footer {
    .copyright{
      float: none;
    }
  }

  .topNavbar {
    .topNavbar-nav {
      display: none;
    }
    .mobile-menu {
      display: unset;
      float: right; 
    }
  }
}