@media only screen and (max-width: 768px){
  #App {
    transform: translate3d(0,0,0);
    transition: all .4s ease-in-out;
    &.move {
      transform: translateX(-#{$sidebar-width});
    }
  }

  .sidebar {
    transform: translateX(#{$app-width});
    position: absolute;
    overflow: auto;
    .mobile-menu {
      display: block;
    }
  }

  .topNavbar {
    .topNavbar-nav {
      display: none;
    }
    .mobile-menu {
      display: unset;
      float: right; 
    }
    .tools {
      display: none;
    }
  }

  .content-footer {
    .copyright{
      float: none;
    }
  }
}